*{
    border: 0px;
}

header ~p{
    color: aqua;
}






/*¨selector hijo*/

ul>li{
    background: red;
    text-decoration: none;
    font-size: 30px;
    color: greenyellow;
}
li:hover{
    background: yellow;
}


