*{
    border: 0px;
    margin: 0px;

}

body{
       background: #59f0e5;
}
header{
    width: 100%;


}
#principal{
    float: right;
    background: #b43333;
    padding: 20px 20px 20px 20px;

}


.nav{
color: #4df44d;
    font-size: 25px;
    text-decoration: none;
}


#sect{
    width: 100%;
}
.texto{
    float: left;
     padding: 20px 20px 20px 50px;
}
#tex{
    width: 90%;
    background: red;
    padding: 20px 0px 0px 50px;
}

#img{
    width: 60%;
    padding: 30px 20px 30px 300px;
}
#text{
   width:  80%;
padding: 20px 0px 0px 50px;
    background: green;
}

a:visit{
    color: aqua;
}
a:hover{
    background: yellow;
}

#footer{
   background: black;
    width: 100%;
  padding: 0px 500px 0px 0px;

}



