*{
    border: 0px;

}

body{
       background: #59f0e5;
}
#principal{
    float: right;
    background: #b43333;
    padding: 20px 20px 20px 20px;

}

.nav{
color: #4df44d;
    font-size: 25px;
    text-decoration: none;
}

.cuerpo{
    float:left;
}
#texto{
    width: 35%;
    background: red;
}
#img{
    width: 30%;
}
#text{
    35%;
}
